/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}
.book-library{
	text-align:center;
	background-color:#ffffff;
}
.book{
	padding:10px;
	text-align:left;
}
.book img {
  display: block;
  margin: 0 auto;  /* centers horizontally */
}

.author{
	color:#777777;
}
.price-block {
  text-align: center;
  background-color: #2ecc71;
  padding: 5px;
  border-radius: 5px; /* also needed for border-radius check */
  color: white;       /* ✅ makes text white */
}